@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body {
   font-family: "Roboto";
}

.greenC {
   color: #13a407;
}
.purpleC {
   color: #7149bc;
}

.maincard {
   max-width: 600px;
   min-width: 300px;
   background: #ffffff;
   border: 1px solid #dbdbdb;
   border-radius: 14.1217px;
   overflow: hidden;
}
.cardcontainer {
   padding: 1.5rem;
}
.cardicon {
   margin: 1.5rem 0;
}
.title {
   font-style: normal;
   font-weight: 700;
   font-size: 1.5vw;
   color: #000000;
   text-align: center;
}
.subtitle {
   font-style: normal;
   font-weight: 700;
   font-size: 1.5vw;
   margin: 1rem 0;
}

.Precio1 {
   font-style: normal;
   font-weight: 500;
   font-size: 1.5vw;
   color: #5e5e5e;
}
.Precio2 {
   font-style: normal;
   font-weight: 500;
   font-size: 1.5vw;
   color: #13a407;
}

.id {
   background-color: #7149bc;
   font-style: normal;
   font-weight: 500;
   font-size: 1.5vw;
   line-height: 70px;
   color: #ffffff;
}

.carddatos {
   background: #ffffff;
   border: 1px solid #dbdbdb;
   border-radius: 14.1217px;
   overflow: hidden;
   text-align: center;
}

.footer {
   background-color: #2d1260;
}
.footercontainer {
   padding: 1.5rem;
   text-align: center;
}
.footertitle {
   font-style: normal;
   font-weight: 700;
   font-size: 1.8vw;
   color: #ffffff;
   text-align: start;
   margin-bottom: 10px;
}
.footercontent {
   font-style: normal;
   font-weight: 400;
   font-size: 1.5vw;
   color: #cacaca;
   text-align: start;
   margin-bottom: 20px;
}
.footerlogo {
   margin: 40px 0;
}
.footericons {
   margin: 0 15px;
}
.contenticons {
   padding-right: 0.5rem;
}
.footerbottom {
   background-color: #230a52;
   text-align: center;
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   line-height: 56px;
   color: #cacaca;
}

@media (max-width: 1000px) {
   .title {
      font-size: 3vw;
   }
   .subtitle {
      font-size: 2.5vw;
   }
   .Precio1 {
      font-size: 2.5vw;
   }
   .Precio2 {
      font-size: 3vw;
   }
   .id {
      font-size: 3vw;
   }
   .footertitle {
      font-size: 3vw;
   }
   .footercontent {
      font-size: 2.5vw;
   }
}
@media (max-width: 600px) {
   .title {
      font-size: 5.5vw;
   }
   .subtitle {
      font-size: 5vw;
   }
   .Precio1 {
      font-size: 5vw;
   }
   .Precio2 {
      font-size: 5.5vw;
   }
   .id {
      font-size: 5vw;
   }

   .footertitle {
      font-size: 5vw;
   }
   .footercontent {
      font-size: 4.5vw;
   }
   .footerlogo {
      width: 60%;
   }
}
